.wrap {
    padding: 20px 8px 26px 8px;
    .header {
        display: flex;
        flex-direction: column;
        border-bottom: 1px solid rgba(241, 241, 241, 1);
        padding-bottom: 8px;
        padding-left: 8px;
        padding-right: 8px;
        .navlink {
            display: flex;
            align-items: center;
            padding: 8px;
            h2 {
                font-weight: 700;
                font-size: 18px;
                padding-left: 8px;
            }
        }

        .active {
            color: var(--primary-color);
        }
    }
    .header :hover {
        background-color: rgba(241, 241, 241, 1);
    }
    .login {
        padding: 20px 8px 24px 8px;
        p {
            color: rgba(22, 24, 35, 0.5);
            font-size: 16px;
            line-height: 22px;
        }
    }
}
