.wrap {
    padding: 16px 0;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    border-top: 1px solid silver;
    margin: 0 8px;
    .ptitle {
        margin-bottom: 3px;
        font-size: 14px;
        line-height: 20px;
    }
    .pseeall {
        color: rgb(254, 44, 85);
        font-weight: 600;
        font-size: 14px;
        line-height: 20px;
        margin-top: 8px;
    }
    .userseeall {
        display: none;
    }
    .user {
        display: flex;
        flex-direction: row;
        align-items: center;

        .avatar {
            padding-top: 10px;
            img {
                border-radius: 50%;
            }
        }
        .username {
            margin-left: 12px;
            p {
                color: rgba(22, 24, 35, 0.75);
                font-weight: 400;
                font-size: 12px;
                line-height: 15px;
                max-width: 260px;
                margin-bottom: 0px;
                padding: 0;
            }
            div {
                display: flex;
                flex-direction: row;
                align-items: center;
                h4 {
                    color: rgb(22, 24, 35);
                    font-weight: 700;
                    font-size: 16px;
                    line-height: 22px;
                    padding-top: 5px;
                    max-width: 260px;
                    padding-right: 3px;
                }
            }
        }
    }
    .pseeall :focus .userseeall {
        display: flex;
    }
}
.usercontainer :hover {
    background-color: rgba(241, 241, 241, 1);
}
