.wrap {
    padding: 16px 0;
    color: rgba(22, 24, 35, 0.75);
    font-weight: 600;
    font-size: 14px;
    line-height: 20px;
    position: relative;
    border-top: 1px solid rgba(241, 241, 241, 1);
    margin: 0 8px;
    p {
        margin-bottom: 3px;
        font-size: 14px;
        line-height: 20px;
    }
    .button {
        margin-top: 8px;
    }
}
