.wrap {
    width: 100%;
    position: relative;
    input {
        width: 100%;
        background: rgba(22, 24, 35, 0.06);
        border: none;
        outline: none;
        font-weight: 400;
        font-size: 16px;
        padding: 14px 52px 14px 20px;
        border-radius: 30px;
        caret-color: var(--primary-color);
        border: 1.5px solid transparent;

        &:focus-within {
            border: 1.5px solid var(--search-color);
        }
    }

    button {
        position: absolute;
        top: 50%;
        right: 10px;
        padding: 2px 1px 2px 13px;
        transform: translateY(-50%);
        cursor: pointer;
        border-left: 1px solid var(--search-color);
    }
}
