.wrap {
    width: 1150px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;

    .search {
        width: 32%;
    }

    .log-in {
        width: 24%;
        display: flex;
        justify-content: space-between;
        .btn-menu {
            background-color: transparent;
            cursor: pointer;
        }
    }
}
